{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<h2>Recapitulatif de ma commande</h2>
<p>Choisissez votre adresse de livraison et de facturation.</p>
<hr>
<div class="row">
    <div class="col-md-6">

        <b>Choisir mon adresse de livraison</b><br>
        {{ form(form)}}
        <b>Choisir mon adresse de facturation</b>
    </div>
    <div class="col-md-6">
        <b>Récapitulatif de ma commande</b><br>
        <button type="button" class="btn btn-primary"><a href="{{path('paiement')}}"></a>Payer</button>
    </div>
</div>

{% endblock %}