{% extends 'base.html.twig' %}
{% block title %}The boutiq ! | FAQ{% endblock %}
{% block body %}
<div class="mentions">
    <h2>Questions fréquentes</h2>
    <h3>J’ai perdu ou souhaite réinitialiser mon mot de passe ?</h3>
    <p>En cas de perte de votre mot de passe, aucun souci ! Vous pouvez vous rendre <a href="https://www.theboutiq.fr/reset-password">juste ici</a> pour le modifier :



        Si toute fois vous avez des difficultés pour récupérer ou modifier votre mot de passe, vous pouvez nous contacter à contact@theboutiq.fr
    </p>
    <h3>Comment retourner mes articles ?</h3>
    <p>En contactant notre service client via le formulaire de <a href="https://www.theboutiq.fr/contact">Contact</a>.</p>
    <h3>Un produit est défectueux</h3>
    <p>Si vous constatez que un produit est défectueux n'hésitez pas de nous contacter <a href="https://www.theboutiq.fr/contact">via ce formulaire de contact</a></p>
    <h3>Quels sont les moyens de paiement autorisés ?</h3>
    <p>Sur notre site, vous pouvez utiliser otre carte bancaire Visa, Mastercard, Amex en utilisant notre module de paiement Stripe sécurisé.</p>
    <h3>Quels sont les coûts et délais de livraison ?</h3>
    <p>Nous vous proposons plusieurs moyens de livraisons pour votre commande :
        COLISSIMO DOMICILE :
        Livraison sous 4 à 5 jours ouvrés
        Coût : 4,90€ TTC
        MONDIAL RELAY : Livraison dans le point relais de votre choix
        Livraison sous 5 à 6 jours ouvrés
        Coût : 4,90€ TTC
        CHRONOPOST RELAIS : livraison express dans le point relais de votre choix
        Livraison en 24H si votre commande est passée avant 10H – Livraison 48H le cas échéant
        Coût : 6,90€
        CHRONOPOST DOMICILE :
        Livraison en 24H si votre commande est passée avant 10H – Livraison 48H le cas échéant
        Coût : 12,90€
        En fonction de la période et des difficultés rencontrées par les transporteurs, il est possible que certains modes de livraison ne soient plus disponibles sur le site ! Nous essayons de maintenir le meilleur service pour vos livraisons !</p>
    <h3>Quel est le pays de fabrication ?</h3>
    <p>Le pays de fabrication de la majorité nos produits est la France, toute fois les mechez previennement d'Asie.</p>
    <h3>D’où vient votre matière première ?</h3>
    <p></p>
    <h3>Comment nous contacter ?</h3>
    <p>Vous pouvez nous contatacter <a href="https://www.theboutiq.fr/contact">via ce formulaire de contact</a></p>
</div>
{% endblock %}