{% extends 'base.html.twig' %}

{% block body%}
{% block title %}The boutiq ! | Bienvenue {% endblock %}
<section class="landing-page">

    <div class="decouvrir">
        <h1 class="text-center aa"><a href="{{path('app_produit_index')}}" class="responsive"> découvrez nos produits</a></h1>
    </div>
    <div class="landing-img">
        <div>
            <div class="landing-btn">
                <div>
                    <h1 class="text-center aa"><a href="{{path('app_produit_index')}}"> découvrez nos produits</a></h1>
                    <a href="{{path('app_produit_index')}}"> <img class="main-logo" src="{{asset('logos/theboutiq-logo-small.png')}}" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}