{% extends 'base.html.twig' %}

{% block body%}

<section class="landing-page">
    <div class="btn">
    </div>
    <div class="landing-img ">
        <div>
            <div class="landing-btn">
                <div>
                    <h1 class="text-center aa"><a href="{{path('app_produit_index')}}"> découvrez nos produits</a></h1>
                    <a href="{{path('app_produit_index')}}"> <img src="{{asset('logos/theboutiq-logo-small.png')}}" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}