{% extends 'base.html.twig' %}
{% block title %}The boutiq ! | Mentions légales {% endblock %}
{% block body %}
<div class="mentions">
    <H3>Mentions légales</H3>
    <p>L'édition du site https://theboutiq.vladimir-lavrentiev.com est assurée par la Société Myownc SASU au capital de 4500 euros, immatriculée au RCS de BOBIGNY sous le numéro 898258728, dont le siège social est situé au 9 boulevard de la boissière, 93130 Noisy-lr-Sec. Numéro de téléphone 0707070707 Adresse e-mail : dev@vladimir-lavrentiev.com.<br> Le Directeur de la publication est : Vladimir LAVRENTIEV.<br> Numéro de TVA intracommunautaire : FR87898258728.<br> L'hébergeur du site https://theboutiq.vladimir-lavrentiev.com/ est la société O2SWITCH, dont le siège social est situé au 222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand - France, avec le numéro de téléphone : 0444446040.</p>
</div>
{% endblock %}