{% extends 'base.html.twig' %}

{% block body %}
<div class="mentions">
    <H3>Mentions légales</H3>
    <p>L'édition du site https://vauban-construction.fr/ est assurée par la Société SCI NAVIAN IMMO au capital de 1000 euros, immatriculée au RCS de https://vauban-construction.fr/ sous le numéro 848355665, dont le siège social est situé au 20 rue Lecerf 94210 La Varenne Saint-Hilaire Numéro de téléphone 0698054085 Adresse e-mail : a_guiroy@yahoo.com.<br> Le Directeur de la publication est : Guiroy Adrien.<br> Numéro de TVA intracommunautaire : FR19848355665.<br> L'hébergeur du site https://vauban-construction.fr/ est la société OVH, dont le siège social est situé au 2 rue Kellermann - 59100 Roubaix - France, avec le numéro de téléphone : 1007.</p>
</div>
{% endblock %}