{% extends 'base.html.twig' %}
<div>
    <button id="open_sign">Contact</button>
    <div class="modal-container" id="modal_container">
        <div class="modal">
            <button id="close_modal" class="close-position">X</button>
            <form action="" method="post">
                <h4>Créez votre compte</h4>
                <p>*Champ requis</p>
                <div>
                    <label>Votre email</label>
                    <input type="email" placeholder="Entrer votre email" name="email" id="email" required autofocus />
                </div>
                <div>
                    <label>Nom</label>
                    <input type="text" placeholder="Votre nom" name="name" id="name" required autofocus />
                </div>
                <div>
                    <label>Prenom</label>
                    <input type="text" placeholder="Votre prenom" name="surname" id="surname" required autofocus />
                </div>
                <div>
                    <label>Mot de passe</label>
                    <input type="password" placeholder="Entrer votre mot de passe" name="password" id="password" required autofocus />
                </div>
                <div>
                    <label>Confirmez votre mot de passe</label>
                    <input type="password" placeholder="Confirmation" name="password" id="password" required autofocus />
                </div>
                <h4>Votre adresse</h4>
                <button type="submit">Créer un compte</button>
        </div>
        </form>



    </div>
</div>