<h1>Bonjour ! Confirmez votre adresse email !</h1>

<p>
    S'il vous plait confirmez votre adresse email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmer</a>.
    Ce lien est valide 1 heure {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>