<h1>Bonjour ! Confirmez votre adresse email !</h1>

<p>
    S'il vous plait confirmez votre adresse email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmer</a>.
    Ce lien est valide 1 heure {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<Strong> Attention,cette étape est très importante ! Si vous ne validez pas votre adresse email vous ne pourrez passer commande, passé 1 heure vous ne pourrez valider votre email... <br> Il faudra donc supprimer votre compte et en re créer un</Strong>

<p>
    Toute l'équipe de THEBOUTIQ! vous souhaite une excellente journée
</p>