<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <!--Nav-bar-->
      <nav>
        <img src="" href="#" alt="logo" />
        <a href="#">Produit</a>
        <a href="#">Contact</a>
        <a href="#">Panier</a>
        <a href="#">Connexion</a>
        <a href="#">Mon compte</a>
        <a href="#">Deconnexion</a>
      </nav>
    </header>
    
          <h2>Formulaire de contact</h2>

<form action="/action_page.php">
  <label for="fname">Prenom:</label><br>
  <input type="text" id="fname" name="fname" value="prenom" placeholder="prénom" required autofocus><br>
  <label for="lname">Nom:</label><br>
  <input type="text" id="lname" name="lname" value="nom" placeholder="Entrez votre email" required
  autofocus><br><br>
  <label for="email">Email</label><br>
  <input type="email" id="email" name="email" value="email" placeholder="Entrez votre email" required autofocus><br><br>

  <textarea name="message" rows="8" cols="20"minlength="10" maxlength="400"required
  autofocus>
    Ecrivez votre message ici... 
    </textarea> <br>

  <input type="submit" value="Submit">




  
</form> 

    <footer>
      <div>
        <a href="#">Mentions légales</a>
        <a href="#">C.G.V & C.G.U</a>
        <a href="#">F.A.Q</a>
        <a href="#">Qui sommes-nous</a>
        <a href="#">Cookies</a>
      </div>
    
  </body>
</html>