{% extends 'base.html.twig' %}

{% block title %}Mon historique{% endblock %}


{% block body %}
<div>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{path('index')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{path('mon_compte')}}">Mon compte</a></li>
            <li class="breadcrumb-item current-page" aria-current="page">Historique</li>
        </ol>
    </nav>
</div>
{% endblock %}