{% extends 'base.html.twig' %}

{% block title %} Mes informations{% endblock %}



{% block body %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('index')}}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{path('app_mon_compte')}}">Mon compte</a></li>
        <li class="breadcrumb-item current-page" aria-current="page">Mes informations</li>
    </ol>
</nav>
{% endblock %}