{% extends 'base.html.twig' %}

{% block body %}
<div class="produits container">
    {% for produit in produits %}
    <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/200/300" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{produit.nom}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <input type="number" name="quantite" id="quantite" min="1" max="{{produit.stock}}" step="1" placeholder="Quantité" value="1" class="input-quantite" required>
            <a href="#" class="btn btn-primary">Ajouter<i class="bi bi-cart3"></i></a>
            <a href="{{path('app_produit_show', {'produit': produit.id }) }}" class="btn btn-primary">Details</a>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}