
  .my-formular {
    max-width:60vw;
    margin: 30vh auto;
    background-color: white;
    border: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    
  
  }
  a {
    text-decoration: none;
      }
  button {
    margin-top: 10px;
    /* background-color:rgba(233, 120, 100, 1) !important;  */
  }

  .login-button {
    width: 300px;
    height: 300px;
  }
  .my-carrousel{
    justify-content: center;
    align-items: center;
    max-width: 750px;
    max-height: 750px;
    margin: 150px auto 150px auto;
  }
  a-hover:hover{
    border-bottom: 1px solid #E97864; 
   font-size: larger;
    color: #E97864 !important;
  }
  .my-navbar {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: rgba(41, 210, 187,0.8) !important; */
    background-color: wheat !important;
    position: relative;
    width: 100% !important;
  }
  .my-navbar-bottom {
    display: block;
    position: relative;
    left: 0;
    bottom:1;
    width: 100% !important;

  }
   
  .my-navbar a {
    color: rgba(rgb(169,169,169,0,5)) !important;
  }
  body {
    background-color: rgba(233, 120, 100, 0.05);
    /* position: relative; */
  }
  .carousel-item img {
    object-fit: scale-down;
  }

 .my-product  {
   margin-top: 45px;
 }

  .my-product h5{
    text-transform: uppercase;
    font-size: 15px;
    /* max-width: 1200px;
    max-height: 800px;
    margin: 3em auto 3em auto;
background-color: white;
border: 1px solid white;
border-radius: 10px;
display:flex;
justify-content: space-around;
align-items: center; */
  }
  .my-product .produict-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 9px;
  }
   .my-product .product-price {
     font-size:14px ;
     font-weight: bold;
     
   }
   .my-product-container {
margin-bottom: 150px;

   }

   .my-product-detail{
    display: flex;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    
   }

   .detail-product-right {
    margin-left: 7%;
   }
  .input-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .input-button input {
    margin-top: 9px;
    margin-right: 5px;
  }
  .picture-accordion {
    display: block;
    margin: 1em 0px 1em 1em;
  }

  .my-accordion{
    max-width: 420px;
  }

.my-heading {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.my-account {
  display: flex;
  flex-direction: column;
  margin: 50px 10px 10px 50px ;
}

.my-account a {
  padding: 10px;
  margin: 4px;
  background-color: black;
  max-width: 450px;
  text-decoration: none;
}

.current-page {
  color: #E97864;
}
.my-breadcrumb {
  margin: 3px 3px 3px 50px;
}

.my-social-navbar {
  display: flex;
    left: 0;
    bottom: 0;
    width: 100%; 
}

.mentions {
  margin: 10%;
  background-color: white;
  max-width: 80%;
  padding: 1.5rem;
  border:4px solid white;
  border-radius: 10px;
  
}
.mentions p {
  justify-content: center;
  text-align: justify;
  margin-top: 2%;

}
.mentions h2 {
  text-align: center;
  color: #E97864
}
.mentions h3 {
  color:rgb(41, 210, 187) ;
}
.my-button {
  color: #E97864 !important;
}
.logo {
  margin: -10px;
  margin-left: 5%;
}
.adresses {
  margin: auto;
}

.panier{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 230px auto;
}
 .produits {
   display: flex;
   justify-content: space-between;
   align-items: center;

 }
 i {
   font-size: 25px;
 }

 .account-helper {
   display: flex;
   justify-content: center;
 }
 .confirm-section {
   background-color: whitesmoke;
   /* margin-left: 3px; */
 }

 



