.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    /* text-align: center; */
    /* background-color:greenyellow ; */
    padding: 5px;
    /* display: flex; */
    /* justify-content: space-around; */
  }
  

  /* .header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color:greenyellow ;  
    padding: 5px;
  }
 header a :hover{
      text-decoration: none;
    color: black;
    outline: none;
    cursor: text !important;
   
  }

  .logo {
      display: flex;
      justify-content: flex-start;
  }
.main-nav{
    display: flex;
    text-align: center;
    justify-content: center;
}

.login-nav{
    display: flex;
    justify-content: flex-end;
} */
/* .form-control{
  background-color: aquamarine;
  width: 40%;
  margin-right: auto !important;
  margin-left: auto !important;
} */