@media all and (max-width: 600px) {
    .my-product{
    max-width: 1200px;
    max-height: 800px;
    margin: 3em auto 3em auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    display:block;
    justify-content: space-around;
    align-items: center;
  }
  
  main {
    min-height: calc(100vh - 180px);
   }
   .landing-page{
   height:85vh !important;
   width: 100vw;
  }
  .my-navbar-bottom {
    margin-top: 0px !important;
    padding-bottom: 22px;
  }
  /* .decouvrir {
    display: block;
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
  } */
  }



  @media all and (max-width: 1000px) {
  .account-helper {
    display: block;
    justify-content: center;
  }

  .decouvrir {
    display: block;
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
  } 
  .landing-img a {
    display: none;
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
   }
  .my-product-detail{
    display: block;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
   }
   .detail-product-right {
    max-width: 600px;
    display: block;
    justify-content: center;
    align-items: center;
   }
   .choix {
     display: block;
     flex-direction: column-reverse;
   }
   .my-navbar-bottom {
    display: block;
    position: relative; 
    right: auto;
   left: auto; 
    bottom: 0 !important;
    width: 100% !important;
    padding-bottom: 100px !important;
  }
  section {
    width: 100vw;
    height: 90vh !important;
  }
  .landing-page{
    height:84vh !important;
    width: auto;
   }
}
@media all and (max-width: 1000px) {
  
 main {
  min-height: calc(100vh - 16px);
 }

}
@media all and (max-width: 990px) {
  section {
   width: 100vw;
   height: 90vh !important;
 }

}

@media all and (max-width: 1900px) {
  section {
   width: 100vw;
   height: 79vh;
 }
}
@media all and (max-width: 1700px) {
  section {
   width: 100vw;
   height: 75vh;
 }
 .landing-page{
  height:84vh !important;
  width: auto;
 }
}

@media all and (max-width: 1550px) {
  section {
   width: 100vw;
   height:70vh !important;
 }
 main {
  min-height: calc(100vh - 170px);
 }
 
}

@media all and (max-width: 1550px) {
  section {
   width: 100vw;
   height:79vh !important;
 }
 main {
  min-height: calc(100vh - 170px);
 }
 
 
}