@media all and (max-width: 600px) {
    .my-product{
    max-width: 1200px;
    max-height: 800px;
    margin: 3em auto 3em auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    display:block;
    justify-content: space-around;
    align-items: center;
  }}



  @media all and (max-width: 1000px) {
  .account-helper {
    display: block;
    justify-content: center;
  }
  .my-product-detail{
    display: block;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
   }
   .detail-product-right {
    /* margin-left: 7%; */
    /* margin-top: 30px; */
    /* margin: 100px auto; */
    max-width: 600px;
    display: block;
    justify-content: center;
    align-items: center;
   }
}