.example-wrapper {
    position: relative;
    margin: 10em auto;
    max-width: 700px;
    max-height: 700px;
    width: 95%;
    font: 18px/1.5 sans-serif;
    display: block;
    justify-content: center;
    align-items: center;

}