<div class="my-modal-container" id="my-modal_container">
    <div class="my-modal">
        <button id="close_my-modal" class="close-position">X</button>
        <form action="" method="post">
            <h4>Déjà client ?</h4>
            <div class="formular">
                <div>
                    <!-- <label>Votre email</label> -->
                    <input type="email" placeholder="Email" name="email" id="email" required autofocus />
                </div>
                <div>
                    <!-- <label>Mot de passe</label> -->
                    <input type="password" placeholder="Mot de passe" name="password" id="password" required autofocus />
                </div>
                <button type="submit" class="submit">Connexion</button><br>
                <button><a href="#" class="no-link">Mot de passe oublié ?</a> </button>
                <button> <a href="{{path('register')}}" class="no-link" id="open_sign">Pas encore client ?</a></button>
            </div>

        </form>


    </div>
</div>