<h3>Cher client,</h3> <br>

<p>Cet email pour vous informer que, suite à la non confirmation de votre email, nous avons supprimé votre compte. </p> <br>
<p>Nous vous rapellons que sans confirmer votre adresse email vous ne pouvez passer de commande, et passé 1 heure vous ne pouvez confirmer votre compte.</p> <br>
<p>Vous pouvez re créer un nouveau compte mais n'oubliez pas de cliquer sur le lien reçu par email.</p> <br>
<p>Toute l'équipe de THEBOUTIQ! vous souhaite une excellente journée. </p>