{% extends 'base.html.twig' %}

{% block title %}Modifier vos informationsr{% endblock %}

{% block body %}
<div class="my-formular">
    <h1 class="text-center">Modifier vos informations</h1>

    {{ include('utilisateur/_form.html.twig',) }}

    <a href="{{ path('user', {id: app.user.id}) }}">Retour</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
</div>


{% endblock %}