{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<h1>Mes commandes</h1>



{% for commande in app.user.commande %}
<div class="col-md-4">
    <p>{{commande.id}}</p>
    <p>{{commande.dateCommande|date('d-m-Y')}}</p>

</div>


{% endfor %}
{% endblock %}