{% extends 'base.html.twig' %}

{% block title %}The boutiq ! | Nouvelle commande{% endblock %}

{% block body %}
<h1>Créer une nouvelle commande</h1>

{{ include('commande/_form.html.twig') }}

<a href="{{ path('app_commande_index') }}">Retour</a>
{% endblock %}