{% extends "facture.html.twig" %}

{% block body %}
<h2>Votre facture n°{{facture.id}}</h2>

<img src="C:/xampp/htdocs/projet_de_certification/public/img/logo-theboutiq.png" alt="">
<div>
    <strong class="text-left">THEBOUTIQ! <br> 9 boulevard de la boissiere <br> 93130 Noisy-Le-Sec <br> FR </strong>
</div>
<div>
    <strong class="text-right">{{ facture.id}}</strong>
</div>
{% endblock %}

{% block css %}
<style>
    h2 {
        color: red;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 20px;
    }
</style>
{% endblock %}