{% extends 'base.html.twig' %}

{% block title %}Votre adresse de livraison{% endblock %}

{% block body %}
<div class=" my-formular container">
    <h1 class="text-center">Modifier votre adresse de livraison</h1>

    {{ include('adresse_livraison/_form.html.twig', {'button_label': 'Update'}) }}

</div>
{% endblock %}