{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse de livraison{% endblock %}

{% block body %}
<div class="my-formular container ">
    <h1 class="text-center m-5">Nouvelle adresse de livraison</h1>

    {{ include('adresse_livraison/_form.html.twig') }}

</div>

<a href="{{ path('app_adresse_livraison_index') }}">Retour</a>
{% endblock %}