{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse de livraison{% endblock %}

{% block body %}
<h1 class="text-align">Nouvelle adresse de livraison</h1>

<div class="my-formular">
    {{ form_start(form)}}

    {{form_end(form)}}
</div>

<a href="{{ path('app_adresse_livraison_index') }}">back to list</a>
{% endblock %}