<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="" method="post">
        <h4>Créez votre compte</h4>
        <p>*Champ requis</p>
        <div>
            <label>Votre email</label>
            <input
              type="email"
              placeholder="Entrer votre email"
              name="email"
              id="email"
              required
              autofocus
            />
          </div>
          <div>
            <label>Nom</label>
            <input
              type="text"
              placeholder="Votre nom"
              name="name"
              id="name"
              required
              autofocus
            />
          </div>
          <div>
            <label>Prenom</label>
            <input
              type="text"
              placeholder="Votre prenom"
              name="surname"
              id="surname"
              required
              autofocus
            />
          </div>
          <div>
            <label>Mot de passe</label>
            <input
              type="password"
              placeholder="Entrer votre mot de passe"
              name="password"
              id="password"
              required
              autofocus
            />
          </div>
          <div>
            <label>Confirmez votre mot de passe</label>
            <input
              type="password"
              placeholder="Confirmation"
              name="password"
              id="password"
              required
              autofocus
            />
          </div>
          <h4>Votre adresse</h4>
          <button type="submit">Créer un compte</button>
        </form>
      </form>
    </div>
  </body>
</html>
