{% extends 'base.html.twig' %}

{% block title %}Espace administrateur{% endblock %}

{% block body %}
<div class="error">
    <h1 class="text-center"><strong>La page que vous cherchez n'existe pas...</strong></h1>
    <img src="{{asset('../icons/error.png')}}" alt="image-page-erreur">
</div>
{% endblock %}