{% extends 'base.html.twig' %}

{% block title %}Modifier votre Adresse de facturation{% endblock %}

{% block body %}
<div class=" my-formular">
    <h1 class="text-center m-5">Modifier votre adresse de facturation</h1>

    {{ include('adresse_facturation/_form.html.twig', {'button_label': 'Appliquer'}) }}

    <a href="{{ path('app_adresse_facturation_index') }}" class="btn btn-info">Retour</a>

    {{ include('adresse_facturation/_delete_form.html.twig') }}
</div>
{% endblock %}