{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse de facturation{% endblock %}

{% block body %}
<div>
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('index')}}">Accueil</a></li>
                <li class="breadcrumb-item"> <a href="{{path('app_adresse_facturation_index')}}">Mes adresses de facturation</a> </li>
                <li class="breadcrumb-item current-page"> <a href="{{path('index')}}">Nouvelle adresse de facturation</a> </li>
            </ol>
        </nav>
    </div>
</div>
<div class="my-formular container">
    <h1 class="text-center m-5">Nouvelle adresse de facturation</h1>
    {{ include('adresse_facturation/_form.html.twig') }}
</div>
{% endblock %}