{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse de facturation{% endblock %}

{% block body %}
<div class="my-formular">
    <h1 class="text-center m-5">Nouvelle adresse de facturation</h1>
    {{ include('adresse_facturation/_form.html.twig') }}
</div>
{% endblock %}