{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse de facturation{% endblock %}

{% block body %}
<h1>Nouvelle adresse de facturation</h1>

{{ include('adresse_facturation/_form.html.twig') }}
<div class="container my-formular">
    <a href="{{ path('app_adresse_facturation_index') }}">Retour</a>
</div>
{% endblock %}