{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenue sur votre espace administrateur !' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-12 alert-info text-center">
            <span class="display-3">Utilisateurs {{ countUser['value'] }}</span>
        </div>
        <div class="col-12 alert-info mt-3 text-center ">
            <span class="display-3">Commandes {{ countOrders['value'] }}</span>
        </div>
        <div class="col-12 alert-info mt-3 text-center ">
            <span class="display-3">Produits {{ countItems['value'] }}</span>
        </div>
    </div>
</div>
{% endblock %}