{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenue sur votre espace administrateur !' %}

{% block main %}
<p>salut</p>

{% endblock %}