<h3>Cher client,</h3> <br>

<p>Votre commande est confirmée, retrouvez les details dans votre compte personnel,<a href="https://theboutiq.vladimir-lavrentiev.com/commande/">onglet "Historique et détails de mes commandes" </a> </p> <br>
<p>Toute l'équipe de THEBOUTIQ! vous souhaite une excellente journée</p>